<configuration>
    <property name="LOG_HOME" value="./chatroom-logs"/>

    <!-- 定义彩色输出到控制台的 appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %cyan(%thread) %cyan(%logger{15}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 日志文件输出路径 -->
        <file>${LOG_HOME}/chatroom-app.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志文件命名规则 -->
            <fileNamePattern>${LOG_HOME}/chatroom_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 日志文件保留的最大历史文件数 -->
            <maxHistory>30</maxHistory>
            <!-- 每个日志文件的最大大小 -->
            <maxFileSize>5MB</maxFileSize>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 设置 MyBatis 的日志级别为 DEBUG -->
    <logger name="org.apache.ibatis" level="DEBUG"/>

    <!-- 其他日志的级别设置为 DEBUG -->
    <logger name="pers.kanarien.chatroom" level="DEBUG"/>  <!-- 替换为你的包名 -->

    <!-- 全局日志级别设为 INFO -->
    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
</configuration>